/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* first section start  */
.top-section{
    background-color: #2D25A0;
}
.top-parant{
    display: flex;
}
/* top div one  */
.top-sec-text{
    color: white;
    font-size: 30px;
    width: 70%;
    padding: 207px 51px 86px 102px;
    transition: color 5s;
}
.top-sec-text:hover{
    color:lawngreen
}
.button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    width: 100px;
    height: 44px;
    padding: 10px 56px 10px 24px;
}
/* top div two  */
.top-sec-img img{
    width: 60%;
    padding: 153px 140px 80px 51px;
    transition: transform 8s;
}
.top-sec-img img:hover{
    transform: rotate(360deg);
}
/* first section end  */

/* second section start  */
.players{
    background-color: lightyellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px 210px 27px 180px;
}
.player{
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    left: 180px;
    top: 747px;
    margin-right: 30px;
    margin-bottom: 27px;
}
.player-img{
    width: 300px;
    height: 256px;
    padding: 15px 15px 8px 15px;
}
.title-p{
    padding: 8px 15px 33px 15px;
}
/* thirdpart  */
.thirdpart-parant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: honeydew;
}
.articlesec{
    width: 466px;
    height: 309px;
    padding: 165px 69px 217px 182px;
    border-right: 7px solid;
    border-top: 1px solid;
    border-image: linear-gradient(blue, red);
    border-image-slice: 1;
}
.thirdsec-img img{
    width: 567px;
    height: 427px;
    padding: 165px 156px 107px 69px;
    border-bottom: 1px solid;
    border-image: linear-gradient(blue, red);
    border-image-slice: 1;
}

/* logo+footer start  */
.footerparant{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 480px;
    height: 110px;
    margin-top: 158px;
}
.sociallogos{
    width: 170px;
    height: 20px;
    display: flex;
    text-align: center;
}
.fab{
    color: grey;
    font-size: 28px;
    padding: 7px;
    align-items: center;
}
.far{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 63px;
}
/* logo+footer end  */


/* Media Queries  */
/* Mobail Devices  */

/* @media only screen and (max-width:688px) {
    .top-parant, .thirdpart-parant, .logo img, .footerparant{
        width: 100%;
    }
    .top-parant, .players, .thirdpart-parant, .footerparant{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}
/* tablet devices  */
/* @media only screen and (max-width:689px) and (max-width:992px) {
    .top-parant, .thirdpart-parant, .logo img, .footerparant{
        width: 100%;
    }
    .top-parant, .players, .thirdpart-parant, .footerparant{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}  */