/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* first section start  */
.top-section{
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.top-parant{
    display: flex;
}
/* top div one  */
.top-sec-text{
    color: white;
    font-size: 30px;
    width: 70%;
    padding: 207px 51px 86px 102px;
}
.button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    width: 100px;
    height: 44px;
    padding: 10px 56px 10px 24px;
}
/* top div two  */
.top-sec-img img{
    width: 60%;
    padding: 153px 140px 80px 51px;
}
/* first section end  */

/* second section start  */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player-img{
    width: 300px;
    height: 256px;
}